NEO4J_URI=neo4j+s://db23757d.databases.neo4j.io
NEO4J_USERNAME=db23757d
NEO4J_PASSWORD=IXCdwdl7TxiFHWh4CCcfA0ihXqfgQHNIyUwsZlhTSvo
NEO4J_DATABASE=db23757d
RAWG_API_KEY=0127aabd974a4aa48875d4fa2fd5ce2e
